<div class="bodyB">
<h1 class="text-center mt-4 mb-4" >Certified Training</h1>
<div class="d-flex flex-wrap justify-content-center text-center">
<div *ngFor="let f of lesFormations" class="card m-2" style="width: 35rem;">
    <img class="card-img-top border-bottom border-secondary rounded-bottom " [src]="f.photo" alt="{{ f.nom }} Image" style="height: 150px; object-fit: cover;">
    <div>
      <h5 class="card-title font-weight-bold text-secondary">{{ f.nom |majuscule }}</h5>
      <p class="card-text" [ngClass]="{'badge': true, 'rounded-pill': true, 'bg-danger text-light': f.paye, 'bg-success text-light': !f.paye}">
        <i class="fa-solid fa-wallet" style="color: #ffffff;"></i> {{ f.paye ? 'Paid' : 'Free' }}
      </p>
      <br>
      <a [routerLink]="['/formation', f.id]"><i class="fa-solid fa-circle-info" style="color: #e41a1a;"></i></a>
      <button class="btn" (click)="onModifier(f)">
        <svg viewBox="0 0 17.503 15.625" height="20.625" width="20.503" xmlns="http://www.w3.org/2000/svg" class="icon">
          <path transform="translate(0 0)" d="M8.752,15.625h0L1.383,8.162a4.824,4.824,0,0,1,0-6.762,4.679,4.679,0,0,1,6.674,0l.694.7.694-.7a4.678,4.678,0,0,1,6.675,0,4.825,4.825,0,0,1,0,6.762L8.752,15.624ZM4.72,1.25A3.442,3.442,0,0,0,2.277,2.275a3.562,3.562,0,0,0,0,5l6.475,6.556,6.475-6.556a3.563,3.563,0,0,0,0-5A3.443,3.443,0,0,0,12.786,1.25h-.01a3.415,3.415,0,0,0-2.443,1.038L8.752,3.9,7.164,2.275A3.442,3.442,0,0,0,4.72,1.25Z" id="Fill"></path>
        </svg>
      </button>
    </div>
  </div>

</div>

