<div class="bodyB ">
    <h1>Our Certifications</h1>
    <div class="cer">
    <ul>
        <li>
            <div class="card">
                <img src="assets/cerMicrosoft.png" class="img">
            <div class="card__content">
              <p class="card__title">Microsoft</p>
              <p class="card__description">Microsoft offers a wide choice of certifications available to develop various skills on its Azure cloud platform.</p>
            </div>
          </div>
        </li>
        <li>
            <div class="card">
                <img src="assets/cerAngular.png" class="img">
                <div class="card__content">
                  <p class="card__title">Angular</p>
                  <p class="card__description">Angular is an open-source, JavaScript framework written in TypeScript. Google maintains it, and its primary purpose is to develop single-page applications.</p>
                </div>
              </div>
        </li>
        <li>
            <div class="card">
                <img src="assets/cerPHP.png" class="img">
                <div class="card__content">
                  <p class="card__title">PHP</p>
                  <p class="card__description">PHP is a general-purpose and Open Source scripting language, specially designed for the development of web applications.</p>
                </div>
              </div>
        </li>
        <li>
            <div class="card">
                <img src="assets/cerDev.png" class="img">
                <div class="card__content">
                  <p class="card__title">DevOps</p>
                  <p class="card__description">DevOps is a set of practices and tools, as well as a cultural philosophy. Its goal is to automate and integrate processes between development and IT teams.</p>
                </div>
              </div>
        </li>
        <li>
            <div class="card">
                <img src="assets/cerSoft.png" class="img">
                <div class="card__content">
                  <p class="card__title">Soft Skils</p>
                  <p class="card__description">A soft skill is a personal attribute that supports situational awareness and enhances an individual's ability to get a job done. The term soft skills is often used as a synonym for people skills or emotional intelligence.</p>
                </div>
              </div>
        </li>
        <li>
            <div class="card">
                <img src="assets/cerMarketing.png" class="img">
                <div class="card__content">
                  <p class="card__title">Marketing</p>
                  <p class="card__description">Set of techniques aimed at commercial strategy and in particular market research.</p>
                </div>
              </div>
        </li>
        <li>
            <div class="card">
                <img src="assets/cerCISSP.jpeg" class="img">
                <div class="card__content">
                  <p class="card__title">CISSP</p>
                  <p class="card__description">The CISSP is historically one of the first cybersecurity certifications since it was created in the United States in 1994 and it is renowned as being one of the most difficult certifications to obtain.</p>
                </div>
              </div>
        </li>
        <li>
            <div class="card">
                <img src="assets/cerPMP.png" class="img">
                <div class="card__content">
                  <p class="card__title">PMP</p>
                  <p class="card__description">PMP stands for Project Management Professional and is the leading accreditation for project management professionals. PMP is based on the PMBOK (Project Management Body of Knowledge) guide, which is a guide created and updated by PMI every 4-5 years.</p>
                </div>
              </div>
        </li>
    </ul>
    </div>
</div>