img {
  width: 80px;
}

.bg-custom {
  background: linear-gradient(#0700DE, #DDFFC9);
}

.navbar{
  padding:10px;
  height: 90px;

}

.navbar a {
  color: rgb(255, 255, 255);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: larger;
}


.navbar a:hover {
  text-decoration-line:underline;
  text-transform:uppercase;
  text-decoration-color: rgb(20, 34, 39);
}

.txt{
  color: black;
  font-size:320%;
  font-weight: 1000;
  font-family:Helvetica,Arial,sans-serif;
  padding-top: 200px;
  padding-left: 300px;
  
}

.b{
  padding-top: 15%;
}
.logo{
  height: 250px;
  width: 350px;
  margin-left: -130px;
  margin-top: -43px;
}
.imagee{
  height: 50%;
  width: 30%;
  margin-left: 60%;
 margin-top: 5%;
 
  filter: drop-shadow(0 0 0.90rem rgb(196, 195, 195)); 
}
.cc{
  font-family:'Times New Roman', Times, serif;
  font-size:40px;
  margin-left: 20%;
  padding: 10px;
  color: black;
}
.c{
  margin-top:-30%;
}

.bookmarkBtn {
  width: 100px;
  height: 40px;
  border-radius: 40px;
  border: 1px solid rgba(255, 255, 255, 0.349);
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition-duration: .3s;
  overflow: hidden;
}

.IconContainer {
  width: 30px;
  height: 30px;
  background: linear-gradient(#0700DE, #DDFFC9);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  z-index: 2;
  transition-duration: .3s;
}

.icon {
  border-radius: 1px;
}

.text {
  height: 100%;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: white;
  z-index: 1;
  transition-duration: .3s;
  font-size: 1.04em;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.bookmarkBtn:hover .IconContainer {
  width: 90px;
  border-radius: 40px;
  transition-duration: .3s;
}

.bookmarkBtn:hover .text {
  transform: translate(10px);
  width: 0;
  font-size: 0;
  transition-duration: .3s;
}

.bookmarkBtn:active {
  transform: scale(0.95);
  transition-duration: .3s;
}