<div class="bodyB">
<header>

<nav class="navbar navbar-expand-lg bg-custom">
  <div class="container">
    <a routerLink="/home">
      <img src="assets/logo.png" alt="logo" class="logo">
    </a>

    <div>
      <ul class="nav justify-content-end">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home" ><i class="fa-solid fa-house" style="color: #ffffff;"></i> Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/membres"><i class="fa-solid fa-person" style="color: #ffffff;"></i>Members</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/certificat"><i class="fa-solid fa-certificate" style="color: #ffffff;"></i> Certificats</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/formation"><i class="fa-solid fa-list" style="color: #ffffff;"></i> Training</a>
        </li>
      </ul>
    </div>

    <div>
      <button (click)="LogIn()" class="bookmarkBtn" > 
        <span class="IconContainer"> 
          <i class="fa-solid fa-right-to-bracket" style="color: #ffffff;"></i>      </span>
      <p class="text">Sign In</p>
    </button>
    </div>
  </div>
</nav>
</header>

  <img src="assets/back.png" class="imagee">
  <div class="c">
    <p class="cc" style="color: green;">//It's up to you</p>
    <p class="cc">if(hardwork===true)&#123;</p>
    <p class="cc"><code>Success();</code></p>
    <p class="cc">&#125;else&#123; <code> Struggle();</code>&#125;</p>
  </div>
<div class="b">
  <!--Espace-->
</div>

</div>
