<img src="assets/affiche.jpg" alt="Banniere club" class="imgg" />

<div>
  <img src="assets/logo.png" alt="Logo club" class="logo" />
  <strong class="text-center">Genuis Club</strong>
</div>

<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="mynavbar">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/event">Nos Events</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/certaficat">Nos Certificats</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/formation">Nos Formations</a>
        </li>
      </ul>
      <!--<button class="btn btn-info" (click)="GoToLogin()" type="button">
        Espace Extranet
      </button>-->
    </div>
  </div>
</nav>

