<nav class="navbar navbar-expand-lg bg-custom">
  <div class="container">
    <a class="navbar-brand" routerLink="/home">
      <img src="https://static.wixstatic.com/media/2a4456_afa9add5322c4816ab87f202680b177b~mv2.png/v1/fill/w_50,h_51,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/logo.png" alt="Progressus HTML5 template" class="logo">
    </a>

    <p class="p">PolyTech Mastery Club </p>

    <div>
      <ul class="nav justify-content-end">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/event">Events</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/certificat">Certificats</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/formation">Training</a>
        </li>
      </ul>
    </div>

    <div>
      <button (click)="LogIn()" class="btn">Sign In</button>
    </div>
  </div>
</nav>

<div>
  <img src="https://static.wixstatic.com/media/2a4456_1a335da641954d1c95d21756611f9625~mv2.gif" class="wow">
  <p class="txt">Use industry<br> <span> software tools for</span><br><span class="c1">  real </span><span> applications</span></p>
</div>

<div class="b">
  <!--Espace-->
</div>
