<div class="card">
  <div class="card__wrapper">
      <div class="card__back"><a routerLink="/formation"><i class="fa-solid fa-backward" style="color: #000000;height: 24; width: 24;"></i></a></div>
  </div>
  <div><img [src]="formation?.photo"></div>
  <div class="card__title">{{formation?.nom|uppercase}}</div>
  <div class="card__subtitle">
    <p>Start date : {{formation?.dateCommence}}</p>
    <p>Registration end date: {{formation?.datefinInscri}}</p>
    <p>Schedule : {{formation?.horraire}}</p>
    <p>Lasted : {{formation?.duree}}</p>
    <p>place:{{formation?.lieu}}</p>
    <p>Contents : </p>
    <ul>
      <li *ngFor="let contenu of formation?.contenu">{{contenu}}</li>
    </ul>
</div>
</div>
<button style="margin-left: 650px;" routerLink="/inscription">
  <div class="svg-wrapper-1">
    <div class="svg-wrapper">
      <i class="fa-solid fa-address-card" style="color: #ffffff;"></i>
    </div>
  </div>
  <span>Registration</span>
</button>