<div class="card container max-width" style="max-width: 350px">
    <div class="card-header text-center">{{ formation?.nom }}</div>
    <div class="card-body">
      <ul>
        <li>Date d'ouverture : {{ formation?.dateCommence }}</li>
        <li>Horaire : {{ formation?.horraire }}</li>
      </ul>
    </div>
    <div class="card-footer text-muted text-center">
       <button routerLink="/formation" class="btn btn-primary">
        <i class="fa-solid fa-upload" style="color: #f8f8f8;"></i> Retour
       </button>
    </div>
</div>

