<div class="bodyB">
<h1>Welcome to your Home <span>Polytech Mastery Club</span> </h1>
<br>
<div class="para">
    <p class="txt">
        About Us 
    </p>
    <p>
        The Polytech Mastery Club, established in 2020 in Tunisia, stands as a dynamic and forward-thinking community deeply entrenched in the ever-evolving realm of technology. Born out of a shared passion for innovation and a commitment to mastering the intricacies of cutting-edge tools, the club has become a beacon for technology enthusiasts and learners alike.    </p>
</div>
<div >
    <img src="assets/p1.jpeg" class="pic">
</div>
<br>
<full-calendar [options]="calendarOptions"></full-calendar>
</div>