<div class="navbar navbar-expand-lg bg-custom">
  <div class="container">
    <img src="assets/logo.png" class="logo">
    <div>
      <ul class="nav justify-content-end">
        <li class="nav-item">
          <a class="nav-link" routerLink="/adminstrateur/information">My information</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/adminstrateur/fonction">My features</a>
        </li>
        <li class="nav-item">
          <input class="input" [(ngModel)]="searchQuery" placeholder="Find a training"><i class="fa-solid fa-magnifying-glass" style="color: #bdc4d1;"></i>
        </li>
        <li class="nav-item">
          <button (click)="searchFormation()" class="btn">Find</button>
        </li>
      </ul>
    </div>
  </div>
</div>

<div>
  <ul class="list-group">
    <li *ngFor="let f of lesFormations" class="list-group-item">
      <img width="100px" [src]="f.photo" alt="{{ f.nom }} Image" />
      <span>Id: {{ f.id }}</span>
      <span>{{ f.nom | uppercase }}</span>
    </li>
  </ul>
</div>
