<div class="card-client">
    <div class="user-picture">
        <i class="fa-solid fa-user" style="color: #ffffff;font-size: 50px;"></i>
    </div>
    <p class="name-client"> Yahyaoui Ali
        <span>CEO of Polytech Mastery Club</span>
        <span>30/06/19980</span>
        <span>computer engineer</span>
    </p>
    <div class="social-media">
        <a href="#">
            <i class="fa-brands fa-twitter" style="color: #ffffff;"></i>
            <span class="tooltip-social">Twitter</span>
        </a>
        <a href="#">
            <i class="fa-brands fa-instagram" style="color: #ffffff;"></i>
            <span class="tooltip-social">Instagram</span>
        </a>
        <a href="#">
            <i class="fa-brands fa-facebook" style="color: #ffffff;"></i>
            <span class="tooltip-social">Facebook</span>
        </a>
        <a href="#">
            <i class="fa-brands fa-linkedin" style="color: #ffffff;"></i>
            <span class="tooltip-social">LinkedIn</span>
        </a>
    </div>
</div>